<!DOCTYPE html>
<html lang="en">
<head>
    <a href="/" class="home-button">Home</a>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/darkmode-js/css/darkmode.min.css">
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js"></script>
    <script src="mysrc.js"></script>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #fff; /* White background */
            margin: 0;
            padding: 0;
            color: #000; 
        }
        header {
            background-color: #6a5acd; /* Header background color */
            color: white;
            padding: 20px;
            text-align: center;
        }
        .btn-container {
            text-align: left; /* Align buttons to the left */
            margin-top: 20px; /* Add margin from the top */
            margin-left: 20px; /* Adjust left margin */
        }
        .btn {
            background-color: #00008b; 
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            display: inline-block;
            margin: 5px;
        }
        .btn-sm {
            font-size: 14px;
        }
        .btn:hover {
            background-color: #0000cd; 
        }
        .last-btn {
            text-align: center; /* Align last button to center */
            margin-top: 20px; /* Add margin from the top */
        }
    </style>
</head>
<body>

<header>
    <h1>User Profile</h1>
    <button class="btn btn-sm" onclick="toggleMode()">Toggle Mode</button>
</header>

<div class="btn-container">
    <button class="btn btn-sm" onclick="window.location.href='investor-add'">Add Investor</button>
    <button class="btn btn-sm" onclick="window.location.href='startup-add'">Add Startup</button>
</div>


<section id="about">
    <h2>About</h2>
    <form>
        <div class="input-container">
        <label class="form-label" for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" class="form-input" value="{{ user.first_name }}" readonly><br>
        </div>

        <div class="input-container">
            <label class="form-label" for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" class="form-input"><br>
        </div>

        <label class="form-label" for="about">About:</label>
        <textarea id="about" name="about" class="form-input"></textarea><br>

        <label class="form-label" for="birthday">Birthday:</label>
        <input type="date" id="birthday" name="birthday" class="form-input"><br>

        <label class="form-label" for="gender">Gender:</label>
        <select id="gender" name="gender" class="form-input">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
        </select><br>

        <div class="input-container">
            <label class="form-label" for="country">Country:</label>
        <input type="text" id="country" name="country" class="form-input"><br>
                <option value="">Select Country</option>
            </select>
        </div>
        
        <label class="form-label" for="city">City:</label>
        <input type="text" id="city" name="city" class="form-input" onchange="populateCities()"><br>
        
        <script>
            function populateCities() {
                var countrySelect = document.getElementById("countrySelect");
                var cityInput = document.getElementById("city");
        
                // Clear previous city options (not needed for text input)
                // citySelect.innerHTML = '<option value="">Select City</option>';
        
                // Get the selected country
                var selectedCountry = countrySelect.value;
                // Call the function to populate cities with the selected country
                city(selectedCountry, cityInput);
            }
        </script>
        

        <label class="form-label" for="linkedin">LinkedIn:</label>
        <input type="text" id="linkedin" name="linkedin" class="form-input"><br>

        <label class="form-label" for="email">Email:</label>
        <input type="email" id="email" name="email" class="form-input" value="{{ user.email }}" readonly><br>

        <br> 
    </form>
</section>



<section id="experience">
    <h2>Experience</h2>
    <form>
        <div class="experience-entry">
            <label class="form-label" for="company">Company:</label>
            <input type="text" id="company" name="company" class="form-input"><br>

            <label class="form-label" for="position">Position:</label>
            <input type="text" id="position" name="position" class="form-input"><br>

            <label class="form-label" for="positionDescription">Position Description:</label>
            <textarea id="positionDescription" name="positionDescription" class="form-input"></textarea><br>

            <div class="input-container">
            <label class="form-label" for="start">Start:</label>
            <input type="date" id="start" name="start" class="form-input">
            </div>

            <div class="input-container">
            <input type="checkbox" id="currentlyWorkHere" name="currentlyWorkHere" value="notchecked">
            <label for="currentlyWorkHere"> I currently work here</label><br>
            </div>

            <div id="endWrapper"  class="input-container">
                <label class="form-label" for="end" id="endlabel">End:</label>
                <input type="date" id="end" name="end" class="form-input">
            </div><br>

            <div class="input-container">
                <label class="form-label" for="countrySelect">Country:</label>
                <select id="countrySelect2" name="countrySelect" class="form-input" onchange="populateCities2()">
                    <option value="">Select Country</option>
                    <!-- Your JavaScript will populate the options dynamically -->
                </select>
            </div>
            
            <script>
                // Array of countries
                var countries = [
                    "Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Antigua and Barbuda", "Argentina", "Armenia", "Australia", "Austria",
                    "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bhutan", "Bolivia",
                    "Bosnia and Herzegovina", "Botswana", "Brazil", "Brunei Darussalam", "Bulgaria", "Burkina Faso", "Burundi", "Cabo Verde", "Cambodia",
                    "Cameroon", "Canada", "Central African Republic", "Chad", "Chile", "China", "Colombia", "Comoros", "Congo", "Costa Rica", "Côte D'Ivoire",
                    "Croatia", "Cuba", "Cyprus", "Czechia", "Democratic People's Republic of Korea", "Democratic Republic of the Congo", "Denmark", "Djibouti",
                    "Dominica", "Dominican Republic", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Eswatini", "Ethiopia",
                    "Fiji", "Finland", "France", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Greece", "Grenada", "Guatemala", "Guinea", "Guinea Bissau",
                    "Guyana", "Haiti", "Honduras", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland", "Israel", "Italy", "Jamaica", "Japan",
                    "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Kuwait", "Kyrgyzstan", "Lao People’s Democratic Republic", "Latvia", "Lebanon", "Lesotho",
                    "Liberia", "Libya", "Liechtenstein", "Lithuania", "Luxembourg", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands",
                    "Mauritania", "Mauritius", "Mexico", "Micronesia", "Monaco", "Mongolia", "Montenegro", "Morocco", "Mozambique", "Myanmar", "Namibia", "Nauru",
                    "Nepal", "Netherlands", "New Zealand", "Nicaragua", "Niger", "Nigeria", "North Macedonia", "Norway", "Oman", "Pakistan", "Palau", "Panama",
                    "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Poland", "Portugal", "Qatar", "Republic of Korea", "Republic of Moldova", "Romania",
                    "Russia", "Rwanda", "Saint Kitts and Nevis", "Saint Lucia", "Saint Vincent and the Grenadines", "Samoa", "San Marino", "Sao Tome and Principe",
                    "Saudi Arabia", "Senegal", "Serbia", "Seychelles", "Sierra Leone", "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa",
                    "South Sudan", "Spain", "Sri Lanka", "Sudan", "Suriname", "Sweden", "Switzerland", "Syrian Arab Republic", "Tajikistan", "Thailand", "Timor-Leste",
                    "Togo", "Tonga", "Trinidad and Tobago", "Tunisia", "Türkiye", "Turkmenistan", "Tuvalu", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom(UK)",
                    "United Republic of Tanzania", "United States of America(USA)", "Uruguay", "Uzbekistan", "Vanuatu", "Venezuela", "Viet Nam", "Yemen", "Zambia", "Zimbabwe"
                ];
            
                // Function to populate the select element with countries
                function populateCountries() {
                    var countrySelect = document.getElementById("countrySelect2");
            
                    // Clear previous options
                    countrySelect.innerHTML = '<option value="">Select Country</option>';
            
                    // Add options for each country
                    countries.forEach(function(country) {
                        var option = document.createElement("option");
                        option.text = country;
                        option.value = country;
                        countrySelect.add(option);
                    });
                }
            
                // Call the function to populate countries when the page loads
                window.onload = function() {
                    populateCountries();
                };
            
                // Function to populate cities based on the selected country
                function populateCities2() {
                    // Your code to populate cities based on the selected country goes here
                }
            </script>
            

            <div class="input-container">
                <label class="form-label" for="cityInput2">City:</label>
                <input type="text" id="cityInput2" name="cityInput" class="form-input" placeholder="Enter City">
            </div>


        <script>
            function populateCities2() {
            var countrySelect = document.getElementById("countrySelect2");
            var citySelect = document.getElementById("citySelect2");

            citySelect.innerHTML = '<option value="">Select City</option>';

            var selectedCountry = countrySelect.options[countrySelect.selectedIndex].value;

            city(selectedCountry, citySelect)
         }
        </script>
        </div>

     </div>
     <button type="button" class="add-button" onclick="addExperience()">Add Experience</button>
    </form>
</section>

    <script>
         document.getElementById('currentlyWorkHere').addEventListener('change', function() {
        var endWrapper = document.getElementById('endWrapper');


        if (this.checked) {
            endWrapper.style.display = 'none';

        } else {
            endWrapper.style.display = 'inline-block';

        }
    });
</script>



<section id="education">
    <h2>Education</h2>
    <form>
        <div class="education-entry">
            <label class="form-label" for="organization">Organization:</label>
            <input type="text" id="organization" name="organization" class="form-input"><br>

            <label class="form-label" for="subject">Subject:</label>
            <input type="text" id="subject" name="subject" class="form-input"><br>

            <div class="input-container">
            <label class="form-label" for="edustart">Start:</label>
            <input type="date" id="eduStart" name="eduStart" class="form-input">
            </div>

            <div class="input-container">
            <input type="checkbox" id="currentlyStudyHere" name="currentlyStduyHere" value="notchecked">
            <label for="currentlyStduyHere"> I currently study here</label><br>
            </div>

            <div id="endWrapper1"  class="input-container">
                <label class="form-label" for="eduEnd" id="endlabel1">End:</label>
                <input type="date" id="eduEnd" name="eduEnd" class="form-input">
            </div><br>

            <div class="input-container">
            <label class="form-label" for="degree">Degree:</label>
            <select id="degree" name="degree" class="form-input">
                <option value="BSc">BSc</option>
                <option value="MSc">MSc</option>
                <!-- Add more degrees here -->
            </select>
            </div>

            <div class="input-container">
            <label class="form-label" for="certification" id="certificationType">Certification Type:</label>
            <select id="certification" name="certification" class="form-input">
                <option value="Professional">Professional</option>
                <option value="Academic">Academic</option>
                <!-- Add more certification types here -->
            </select>
            </div><br>
        </div>

        <button type="button" class="add-button" onclick="addEducation()">Add Education</button>
    </form>
</section>

<script>
         document.getElementById('currentlyStudyHere').addEventListener('change', function() {
        var endWrapper1 = document.getElementById('endWrapper1');


        if (this.checked) {
            endWrapper1.style.display = 'none';

        } else {
            endWrapper1.style.display = 'inline-block';

        }
    });
</script>

<section id="expertise">
    <h2>Expertise</h2>
    <label class="form-label" for="skills">Skills:</label>
    <div id="Skill-container">
    <input type="text" id="skill" name="skill" class="form-input disp" style="width: 10%;"><br><br>
    </div>
    <button type="button" onclick="addSkill()" class="add-button">Add More</button><br><br>


    <label class="form-label" for="areasOfExpertise">Areas of Expertise:</label>
    <select id="areasOfExpertise" name="areasOfExpertise" class="form-input"><br>
        <option value="Entrepreneur">Entrepreneurs</option>
        <option value="Startup Founder">Startup Founders</option>
        <option value="Business Owner">Business Owners</option>
        <option value="Investor">Investors</option>
        <option value="Financial Analyst">Financial Analysts</option>
        <option value="Investment Banker">Investment Bankers</option>
        <option value="Business Consultant">Business Consultants</option>
        <option value="Accountant">Accountants</option>
        <option value="Business Lawyer">Business Lawyers</option>
        <option value="Marketing Professional">Marketing Professionals</option>
        <option value="Product Manager">Product Managers</option>
        <option value="Software Developer">Software Developers</option>
        <option value="Data Scientist">Data Scientists</option>
        <option value="Economist">Economists</option>
        <option value="Project Manager">Project Managers</option>
    </select>

    <label class="form-label" for="areasOfInterest">Areas of Interest (business):</label>
<select id="areasOfInterest" name="areasOfInterest" class="form-input">
    <option value="">Select Area of Interest</option>
    <script>
        var areasOfInterest = [
            "Marketing", "Finance", "Sales", "Entrepreneurship", "Strategy", "Management", "Leadership",
            "Human Resources", "Supply Chain Management", "Business Development", "Project Management",
            "Product Management", "Market Research", "International Business", "E-commerce", "Retail",
            "Hospitality", "Real Estate", "Consulting", "Sustainability", "Innovation", "Technology",
            "Data Analytics", "Digital Marketing", "Social Media", "Brand Management", "Public Relations",
            "Financial Planning", "Investment Management", "Risk Management", "Accounting", "Taxation",
            "Auditing", "Business Law", "Intellectual Property", "Startups", "Small Business", "Family Business",
            "Corporate Finance", "Venture Capital", "Private Equity", "Mergers and Acquisitions", "Financial Markets",
            "Trading", "Investment Banking", "Asset Management", "Real Estate Investment", "Wealth Management",
            "Insurance", "Banking", "Microfinance", "Financial Inclusion", "Retail Banking", "Commercial Banking",
            "Investment Banking", "Business Analysis", "Data Science", "Machine Learning", "Artificial Intelligence",
            "Blockchain", "Cryptocurrency", "Internet of Things (IoT)", "Cybersecurity", "Cloud Computing",
            "Mobile Applications", "Web Development", "Agile Methodology", "Scrum", "Customer Experience (CX)",
            "Customer Success", "Customer Support", "Customer Analytics", "Customer Retention", "Customer Loyalty",
            "Customer Segmentation", "Customer Lifetime Value (CLV)", "Business Intelligence", "Data Visualization",
            "Data Warehousing", "Big Data", "Predictive Analytics", "Prescriptive Analytics", "Supply Chain Optimization",
            "Inventory Management", "Logistics Management", "Procurement", "Demand Forecasting", "Lean Manufacturing",
            "Six Sigma", "Quality Management", "Continuous Improvement", "Customer Relationship Management (CRM)"
        ];

        for (var i = 0; i < areasOfInterest.length; i++) {
            document.write('<option value="' + areasOfInterest[i] + '">' + areasOfInterest[i] + '</option>');
        }
    </script>
</select><br>


<footer>
    <p class="btn-sm contact-section">Contact us: Investy@support.com</p>
    <a id="saving" class="btn btn-sm" onclick="saveProfile()">Save Profile</a>
</footer>

<script>
    const data = {};
    const data2 = {};
    var inputs = {};
    var expereinceInputs = {};
     function toggleMode() {
        const options = {
            bottom: '100px', 
            right: '0px', 
            left: 'unset', 
            time: '0.3s', 
            mixColor: '#fff', 
            backgroundColor: '#fff',  
            buttonColorDark: '#100f2c',  
            buttonColorLight: '#fff', 
            saveInCookies: true, 
            label: '🌓', 
            autoMatchOsTheme: true 
        }

        new Darkmode(options).showWidget();
    }
    var j = 0;
    function addExperience() {
    const experienceData = {
        company: document.getElementById("company").value,
        position: document.getElementById("position").value,
        positionDesc: document.getElementById("positionDescription").value,
        start: document.getElementById("start").value,
        currentlyWorkHere: document.getElementById("currentlyWorkHere").checked,
        end: document.getElementById("end").value,
        country: document.getElementById("countrySelect2").value,
        city: document.getElementById("cityInput2").value
    };

    fetch('/add-experience', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(experienceData),
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Failed to add experience data');
        }
        // Reset form fields or perform any other necessary actions
        document.getElementById("company").value = '';
        document.getElementById("position").value = '';
        document.getElementById("positionDescription").value = '';
        document.getElementById("start").value = '';
        document.getElementById("end").value = '';
        document.getElementById("countrySelect2").value = '';
        document.getElementById("citySelect2").value = '';
        document.getElementById("currentlyWorkHere").checked = false;
    })
    .catch(error => {
        console.error('Error adding experience data:', error);
        // Handle error, show an alert, etc.
    });
}

function addEducation() {
    const educationData = {
        organization: document.getElementById("organization").value,
        subject: document.getElementById("subject").value,
        start: document.getElementById("eduStart").value,
        currentlyStudyHere: document.getElementById("currentlyStudyHere").checked,
        end: document.getElementById("eduEnd").value,
        degree: document.getElementById("degree").value,
        certification: document.getElementById("certification").value
    };

    fetch('/add-education', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(educationData),
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Failed to add education data');
        }
        // Reset form fields or perform any other necessary actions
        document.getElementById("organization").value = '';
        document.getElementById("subject").value = '';
        document.getElementById("eduStart").value = '';
        document.getElementById("eduEnd").value = '';
        document.getElementById("degree").value = '';
        document.getElementById("certification").value = '';
        document.getElementById("currentlyStudyHere").checked = false;
    })
    .catch(error => {
        console.error('Error adding education data:', error);
        // Handle error, show an alert, etc.
        alert('Failed to add education data');
    });
}

function addSkill() {
    const skillData = {
        // You may need to adjust this depending on how you want to handle skills
        skills: document.getElementById("skill").value,
    };

    fetch('/add-skill', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(skillData),
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Failed to add skill data');
        }
        // Reset form fields or perform any other necessary actions
        document.getElementById("skill").value = '';
    })
    .catch(error => {
        console.error('Error adding skill data:', error);
        // Handle error, show an alert, etc.
        alert('Failed to add skill data');
    });
}

function saveProfile() {
    console.log('saveProfile function called');
    const profileData = {
        // Populate with the user's profile data
        first_name: document.getElementById("firstName").value,
        last_name: document.getElementById("lastName").value,
        about: document.getElementById("about").value,
        birthday: document.getElementById("birthday").value,
        gender: document.getElementById("gender").value,
        country: document.getElementById("country").value,
        city: document.getElementById("city").value,
        linkedin: document.getElementById("linkedin").value,
        // Add other fields as needed
    };

    // Send a POST request to the server to save the profile data
    fetch('/save-profile', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(profileData),
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Failed to save profile data');
        }
        console.log('Profile data saved successfully');
        // Redirect to the home page after successful save
        window.location.href = '/';
    })
    .catch(error => {
        console.error('Error saving profile data:', error);
        // Handle error, show an alert, etc.
    });
}
</script>

</body>
</html>
